<div class="flex items-center justify-between mb-6">
  <h1 class="text-3xl font-bold">Modifier une entrée</h1>

  <a
    routerLink="/journal"
    class="flex items-center space-x-2 text-gray-600 hover:text-gray-800 transition font-medium"
  >
<app-back-button label="Retour au journal" [routerLink]="['/journal']"></app-back-button>
  </a>
</div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label class="block text-sm font-medium">Date</label>
      <input type="date" formControlName="date" class="w-full border p-2 rounded" />
    </div>

    <div class="mb-4">
      <label class="block text-sm font-medium">Titre</label>
      <input type="text" formControlName="title" class="w-full border p-2 rounded" />
    </div>

    <div class="mb-4">
      <label class="block text-sm font-medium">Contenu</label>
      <textarea formControlName="content" class="w-full border p-2 rounded"></textarea>
    </div>

    <div class="mb-4">
      <label class="block text-sm font-medium">Humeur</label>
      <select formControlName="mood" class="w-full border p-2 rounded">
        <option value="happy">😀 Heureux</option>
        <option value="neutral">😐 Neutre</option>
        <option value="sad">😢 Triste</option>
      </select>
    </div>

    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
      Sauvegarder
    </button>
  </form>