<app-navbar></app-navbar>
<app-note-card
  [title]="'Ma journée'"
  [content]="'Aujourd’hui j’ai travaillé sur Angular et bu du café toute la matinée...'"
  [date]="'2025-05-24'"
  [mood]="'happy'"
></app-note-card>
<app-note-card
  [title]="'Ma journée'"
  [content]="'Aujourd’hui j’ai travaillé sur Angular et bu du café toute la matinée...'"
  [date]="'2025-05-24'"
  [mood]="'neutral'"
></app-note-card>
<app-note-card
  [title]="'Ma journée'"
  [content]="'Aujourd’hui j’ai travaillé sur Angular et bu du café toute la matinée...'"
  [date]="'2025-05-24'"
  [mood]="'sad'"
></app-note-card>
<app-note-card
  [title]="'Ma journée'"
  [content]="'Aujourd’hui j’ai travaillé sur Angular et bu du café toute la matinée...'"
  [date]="'2025-05-24'"
  [mood]="'sad'"
></app-note-card>
<router-outlet />